<strong>Olá, {{ user }}!</strong>
<br />
<p><strong>Bem-vindo a Academia GymPoint</strong></p>
<p>Abaixo irá ter todas as informações sobre sua matrícula:</p>
<p>
  <strong>Data de início informada: </strong> {{ startDate }} <br />
  <strong>Plano Selecionado: </strong> {{ plan }} ({{ month }} mes(es)) <br />
  <strong>Data do término calculada: </strong> {{ endDate }} ({{ month }} mes(es) depois do início) <br />
  <strong>Preço calculado: </strong> R$ {{ price }} reais
</p>
